@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=RocknRoll+One&display=swap');

html body {
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}
  
:root {
    --color-one: #9d4edd;
    --color-two: #3c096c;
    --color-three: #b67de4;
    --color-four: #dcd7ee;
    --color-five: #fffeff;
}

.container-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: right;
  }
  
  /* Navbar */
  .header {
    overflow: hidden;
    background-color: var(--color-one);
    padding: 25px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: var(--color-five);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .header a:hover {
    background-color: var(--color-four);
    color: black;
  }
  
  
  .header a.active {
    background-color: #ff6600;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    padding: 0;
    height: 100%;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .header a {
      float: none;
      display: block;
      text-align: center;
      align-items: center;
    }
    .header-right {
      float: none;
    }
  }
  .left-header{
    
    width: 56px;
  }
  p {
      margin: 0px;
      color: var(--color-two);
  }
  .contact {
    position: relative;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-five);
}
.contact .content {
    text-align: center;
}
.contact .content h2 {
    font-size: 38px;
    font-weight: bold;
    color: var(--color-two)
}
.contact .content p {
    font-weight: 300;
    color: var(--color-two);
}
.container-contato {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-contato .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.container-contato .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-left: 40px
}
.container-contato .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: var(--color-five);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.container-contato .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 19px;
    color: var(--color-one);
    flex-direction: column;
    font-weight: bold;
}
.container-contato .contactInfo .box .text h3 {
    font-weight: bold;
    color: #ff6600;
    font-size: 20px;
}
.contactForm {
    width: 40%;
    padding: 40px;
    background-color: var(--color-five);
    box-shadow:  3px 3px 5px 2px rgba(165, 56, 228, 0.61);
}
.contactForm h2 {
    font-size: 30px;
    color: var(--color-six);
    font-weight: bold;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10%;
}

.botao {
    width: 70px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    background-color: var(--color-four);
    border-bottom-color: var(--color-three);
    border-top: none;
    border-left: none;
    border-right: none;
}
  