@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=RocknRoll+One&display=swap');
:root {
  --color-one: #9d4edd;
  --color-two: #3c096c;
  --color-three: #b67de4;
  --color-four: #dcd7ee;
  --color-five: #fffeff;
}

 html body {    
    flex-direction: column;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
    background-color: var(--color-five);
}



/* Navbar */
.header {
  overflow: hidden;
  background-color: var(--color-one);
  padding: 20px;
}

/* Style the header links */
.header a {
  float: left;
    color: var(--color-five);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    border-radius: 4px;
}


.header a:hover {
  background-color: var(--color-four);
  color: black;
}


.header a.active {
  background-color: #ff6600;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  padding: 0;
  height: 100%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header a {
    float: none;
    display: block;
    text-align: center;
    align-items: center;
  }
  .header-right {
    float: none;
  }
}
.left-header{
  
  width: 56px;
}

/* Fim nav bar */

.sobreNosImg {
    padding:5px;
    background-image: url(Imagens/fundoSobre.jpg);
    height: 90vh;
    background: linear-gradient(rgba(228, 225, 225, 0.781), rgba(32, 31, 31, 0.281)) , url(Imagens/fundoSobre.jpg) no-repeat;
    float: right;
    background-size: 75%;
    background-position: center;
}

.sobreNosTitulo{
    
    text-align: center;
    font-size: 35px;
}

.sobreNosTxt{
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 20px ;
}


footer h4 {
  color: white;
  text-align: center;
  
}

footer {
  margin-top: 0px;
  height: 100px;
  background-color: #9d4edd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #ff6600 3px solid;
  border-top: #ff6600 2px solid;
}

.icones{
  margin-left: 223px;
}

.icones img {
  width: 50px;
  padding: 16px;
  cursor: pointer;
  margin: auto;
  margin-left: 58px;
  margin-bottom: 0;
}

footer h4{
  color: white;
}

h5{
  margin-bottom: -8px;
  font-size: unset;
  margin-left: 0px;
}