@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=RocknRoll+One&display=swap');

html body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
}


:root {
  --color-one: #9d4edd;
  --color-two: #3c096c;
  --color-three: #b67de4;
  --color-four: #dcd7ee;
  --color-five: #fffeff;
}


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
}

/* Navbar */
.topnav {
  background-color: var(--color-one);
  overflow: hidden;
  width: 100%;
  float: right;
}
.topnav img{
  width: 145px;
}
  

.topnav a {
  float: right;

  color: var(--color-five);
  text-align: center;
  padding: 40px 45px;
  text-decoration: none;
  font-size: 17px;
  
}
  

.topnav a:hover {
  background-color: var(--color-one);
  color: var(--color-four);
}
  

.topnav a.active {
  background-color: var(--color-three);
  color: var(--color-five);
}
  


/* Fim nav bar */


/*Corpo site */
body{
  background-color: var(--color-four);
}


/* Boas vindas */
.primeiraInfo {
  width: 100%;
  height: 60%;
  background-size: cover;
}


.apresentacao{
  height: 420px;
  float: left;
  font-size: 178%;
  width: 43%;
  text-align: center;
  margin-top: 6%;
}


.imgComeco {
  width: 53%;
  height: 55%;
  float: right;
}
.imgComeco img{
  width: 93%;
}
/* Fim boas vindas */


/*infoEmpresa */ 
.infoEmpresa {
  width:100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
} 


.box{
  margin: 25px;
  -webkit-box-shadow:  3px 3px 5px 2px rgb(100, 73, 98);  
  -moz-box-shadow:    3px 3px 5px 2px rgb(100, 73, 98); 
  box-shadow:        3px 3px 5px 2px rgb(100, 73, 98);
  text-align: center;
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; 
  border-radius: 10px;
}
.box h1{
  margin: 0% 1% 0% 2%;
}
.box p{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #8d20f328;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}


#quemSomos{
  background-image: url(Imagens/confuso1.png);
  background-repeat: no-repeat;
  background-size: 119%;
}
#valores{
background-image: url(Imagens/valores1.png);
background-repeat: no-repeat;
background-size: 55%;
background-position: center;
margin-left: auto;
}
#missao {
background-image: url(Imagens/missão1.png);
background-repeat: no-repeat;
background-size: 85%;

margin-left: auto;
}