@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color-one: #9d4edd;
  --color-two: #3c096c;
  --color-three: #b67de4;
  --color-fuor: #dcd7ee;
  --color-five: #fffeff;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* Navbar */
.topnav {
    background-color: var(--color-one);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--color-five);
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--color-one);
    color: var(--color-fuor);
  }
  
  .topnav a.active {
    background-color: var(--color-fuor);
    color: var(--color-five);
  }
  
  .topnav .icon {
    display: none;
  }
/* Fim nav bar */

/*Corpo site */
body{
  background-color: var(--color-fuor);
}

.PrimeiraInfo {
    width: 100%;
    height: 60%;
    background-size: cover;
  }
.Apresentacao
{
  height: 100%;
  float: left;
  font-size: 178%;
  width: 43%;
  text-align: center;
  margin-top: 6%;
}

.imgComeco {
  width: 55%;
  height: 55%;
  background-image: url(Imagens/monitoramento.png);
  float: right;
  margin-top: 1,5%;
}